//(通用) 主題色
$theme-color: #ee6daf; //主
$secondary-color: #ee6daf; //輔助色

//(通用)字體顏色
$txt-color-1: #ffffff; //主
$txt-color-2: #19112b; 
$txt-color-3: #ee6daf; 

//字體大小
$font-size-1: 20px; //標題
$font-size-2: 16px; //應用、按鈕
$font-size-3: 12px; //
