@import "mixin";

.share {
  padding: 50px 16px;
  @include center;
  flex-direction: column;
}
.text {
  @include title;
}
.share-box__wrap{
    position: relative;
    width: 343px;
    height: 343px;
    border: solid 1px rgba(255, 255, 255, 0.47);
    background-image: linear-gradient(123deg, #594388, #2d2050);
    overflow: hidden;
    
    .share-box__img{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 0;
        top: 0;
       
        &.left {
            left: -50%;
        }
        &.right {
            right: -50%;
        }
        img {
            opacity: 0.1;
            width: 100%;
            height: 100%;
        }
    }
}
.share-box {
  padding: 10px;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  .user-info {
    color: #ffffff;
    .user-info__avatar {
      img {
        border: solid 1px #ffffff;
        background-color: #312150;
      }
    }
    .user-info__line{
        width: 65px;
    }
  }
  .astrolabe__bg {
    margin: 0 auto;
    position: relative;
    width: 82%;
    height: 82%;
    border-radius: 50%;
    //opacity: 0.07;
    background-image: radial-gradient(
      circle at 50% 50%,
      rgba(255, 255, 255, 0.07),
      rgba(255, 255, 255, 0.07) 96%,
      #ffffff
    );
    .canvas-pan {
      position: absolute;
      top: 11.5px;
      left: 11.5px;
    }
  }

  .logo {
    position: absolute;
    bottom: 9px;
    left: 16px;
  }
  .lineID {
    font-size: 14px;
    color: #ffffff;
    position: absolute;
    bottom: 12px;
    right: 14px;
    img {
      width: 16px;
      height: 16px;
      margin: 0px 8px 0 0;
    }
  }
}

.save-btn {
  @include btn;
  width: 343px;
  margin: 0 auto;
}


@media (max-width: 374px) {
    .share-box__wrap{
        width: 90vw;
        height: 90vw;
    }
    .share-box{    
        .user-info {
            font-size: 14px;
            .user-info__avatar {
              width: 30px !important;
              height: 30px !important;
            }
            .user-info__line{
                width: 50px;
            }
        }    
    }
    .save-btn{
      width: 90vw;
    }
}